.grid2_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  padding: 30px;
}

.contact {
  display: flex;
  flex-direction: column;
  background-color: #b29b7f;
  color: #fff;
  border-radius: 10px;
  align-items: center;
  margin: 30px;
  padding-bottom: 15px;
}

.kortImg {
  aspect-ratio: 16/9;
  filter: grayscale(100%);
  padding: 20px;
}

.overskriftCenter {
  margin-top: -50px;
  margin-bottom: 20px;
  background-color: #b29b7f;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

h1,
h2 {
  font-size: 40px;
}
