*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  user-select: none;
}

html
{
  scroll-behavior: smooth;
}

body
{
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  background-color: var(--body-background-color);
  overflow-x: hidden;
}

li
{
  list-style: none;
}

a
{
  display: inline-block;
  text-decoration: none;
}

img,
video
{
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

button
{
  background-color: transparent;
}

input[type="radio"]
{
  visibility: hidden;
}