.slideshow-container {
  position: relative;
  margin: auto;
}
.text {
  color: #f3eede;
  font-size: 17vw;
  position: absolute;
  top: 30%;
  text-align: center;
  width: 100%;
  font-family: "Playfair Display", serif;
  font-weight: 500;
}
.mySlides img {
  filter: brightness(60%);
  opacity: 80%;
  width: 200%;
  height: 650px;
  object-fit: cover;
}
article {
  text-align: center;
  padding: 10%;
}

.scroll-down-arrow {
  position: absolute;
  bottom: 30px;
  left: 50%;
  color: #633e23;
  transform: translateX(-50%);
  animation: moveUpDown 1.5s infinite;
}

@keyframes moveUpDown {
  0% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, 10px);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

.billederulle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.grid3 img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .slideshow-container {
    position: relative;
    margin-top: 100px;
  }
  .text {
    font-size: 150px;
  }

  .scroll-down-arrow {
    display: none;
  }

  .grid3 {
    grid-template-columns: 1fr;
  }

  .grid3 {
    overflow: hidden;
    width: 100vw;
    gap: 10px;
  }

  .billederulle {
    display: flex;
    white-space: break-spaces;
    animation: scrollGallery 9s linear infinite;
  }

  .grid3 img {
    width: 100vw;
    height: auto;
    object-fit: cover;
  }

  @keyframes scrollGallery {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-230%);
    }
  }
}
