/* ------------------ Shrubs and trees --------------------*/

.billede_productlist img {
  filter: brightness(40%);
  opacity: 60%;
  margin-top: 80px;
}

section.billede_productlist {
  position: relative;
}

.tekst_paa_billede_productlist {
  position: absolute;
  color: #f3eede;
  transform: translate(-50%, -50%);
  left: 50%;
  font-size: 2vw;
  top: 50%;
  font-family: "Montserrat", sans-serif;
}

.overskrift_ingredients {
  text-align: center;
  font-family: "Prompt", sans-serif;
  font-size: 5vw;
  width: 20ch;
}

.grid_produktliste {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.grid_produktliste a {
  color: #f3eede;
}

article img {
  width: 50%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.hej {
  background-color: rgb(5, 54, 38);
  margin: 10px;
  border-radius: 10%;
  align-items: center;
}

.hej h3 {
  text-align: center;
  font-size: 3vw;
  margin-top: 10px;
  padding-bottom: 10px;
}

.season_overskrift {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 4.2vw;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

/* Skjuler standard listen */

.dropbtn {
  font-size: 1rem;
  margin-left: 20px;
  margin-top: 10px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: 20px;
  border-radius: 10px;
}

/* Stil for hver dropdown-item */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Skift farve på element, når der holdes musen over det */
.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 10px;
}

/* Vis dropdown-menu, når knappen holdes nede */
.dropdown:hover .dropdown-content {
  display: block;
}
