@import url('https://fonts.googleapis.com/css?family=Roboto: 100, 200, 300, 400, 500, 600, 700, 800, 900');

:root
{
    /* Colors */
    --body-background-color: #f3eede;
    --primary-text-color: #fff;
    --secondary-text-color: #1d1d1d;
    --navbar-background-color: #c1beb8;
    --overlay-background-color: rgba(0, 0, 0, .5);

    --primary-card-background-color: #48481f;
    --secondary-card-background-color: #d5cbb2;
    --tertiary-card-background-color: #62622e;

    --tabs-container-background-color: #799175;

    --scroll-to-top-btn-background-color: #48481f;


    /* Radii */
    --base-border-radius: 10px;

    /* Shadows */
    --text-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    --box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

/* Overlay */
.overlay
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--overlay-background-color);
    overflow: hidden;
}

/* Card */
.card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    width: 300px;
    color: var(--primary-text-color);
    border-radius: var(--base-border-radius);
    cursor: pointer;
    transition: box-shadow .15s ease-in;
}

.card:hover
{
    box-shadow: var(--box-shadow);
    transition: box-shadow .15s ease-in;
}

/* Disse skal der ikke røres ved igen! */
.card.primary-card
{
    background-color: var(--primary-card-background-color);
}

.card.secondary-card
{
    background-color: var(--secondary-card-background-color);
}

.card.tertiary-card
{
    background-color: var(--tertiary-card-background-color);
}


/* Section */
.section-header
{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    display: inline-block;
    border-bottom: 2px solid var(--secondary-text-color);
    font-weight: bold;
    text-align: center;
}

/* Footer */
.footer
{
    font-family: inherit;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #333;
    height: 100px;
    z-index: 3000;
}

.footer .links a,
.footer .socials div
{
    margin-top: 20px;
}

.footer h4
{
    margin-top: 20px;
    color: var(--secondary-text-color);
}

.footer a:not(.socials div a)
{
    color: var(--secondary-text-color);
    border-bottom: 2px dashed var(--secondary-text-color);
}

.footer .socials div a
{
    color: inherit;
    border-bottom: none;
}

.footer .links a:hover
{
    border-bottom-style: solid;
}

.footer i.fa-brands.fa-facebook-f
{
    margin-right: 20px;
}

/* Scroll To Top Button */
.scroll-to-top-btn
{
    position: fixed;
    bottom: 30px;
    right: -100px;
    background-color: var(--scroll-to-top-btn-background-color);
    height: 50px;
    width: 50px;
    border-radius: calc(var(--base-border-radius) * 5);
    color: var(--primary-text-color);
    border: 3px solid var(--primary-text-color);
    font-size: 20px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: right .4s ease-in;
}

.scroll-to-top-btn:active
{
    transform: scale(.98);
    box-shadow: none;
    transition: none;
}

.scroll-to-top-btn.active
{
    right: 30px;
    transition: right .4s ease-in;
}