

h2 {
    color: #404f3d;;
    text-align: center;
}

form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #d5cbb2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #1d1d1d;;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#dropBox {
    width: 100%;
    height: 150px;
    border: 2px dashed #60755c;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    background-color: #6a5454;
    transition: border-color 0.3s;
    cursor: pointer;
}

#dragText {
    color: #888;
    font-size: 16px;
}

input[type="file"] {
    display: none;
}

button {
    background-color: #60755c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #404f3d;
}

/* Animation */
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

#dropBox:hover {
    border-color: #404f3d;;
    animation: pulse 1s infinite;
}